*.egg
*.egg-info
*.py?
*~
.idea
.python-version
/*.egg
/.cache
/.config
/.coverage
/.eggs
/.tox
/.venv38
/ChangeLog
/ChangeLog-spell-corrected
/build
/dist
/how-to-make-a-release.txt
/python3-trepan.html
/tmp
