language: python

env:
  - TRAVIS=true

sudo: false

python:
- '3.4'
- '3.5'
- '3.6'
- '3.7'
# - 'pypy3'

install:
- pip install -e .
- pip install -r requirements-dev.txt
- pip install .

script:
- make test
