include COPYING
include ChangeLog
include Makefile
include NEWS.md
include README.rst
include __pkginfo__.py
include requirements-dev.txt
include test/Makefile
include test/Makefile
recursive-include test/data *.cmd *.right
recursive-include test/example *.py
recursive-include test/functional *.py
recursive-include test/integration *.py
recursive-include test/unit *.py
recursive-include trepan *.py
recursive-include trepan/processor/command/help *
