include README.rst
include ChangeLog
include COPYING
include Makefile
include requirements-dev.txt
include __pkginfo__.py
recursive-include trepan/processor/command/help *
recursive-include trepan *.py
include test/Makefile
recursive-include test/data *.cmd *.right
recursive-include test/example *.py
recursive-include test/functional *.py
recursive-include test/integration *.py
recursive-include test/unit *.py
include test/Makefile
